* {
  padding: 0%;
  margin: 0%;
  font-family: "Times New Roman", Times, serif;
}

.title {
  width: 100%;
  padding: 15px;
  background-color: rgb(0, 170, 255);
}

.id_photo {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border: black;
  border-width: 2px;
}
h2 {
  padding: 10px;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 20px;
  text-align: center;
  border-top: 30px;
}

p {
  margin: 3px;
  padding: 10px;
  background-color: white;
  border-color: black;
  border-radius: 10px;
}

#background {
  background-color: rgb(225, 225, 225);
}

#linkedin_link {
  width: 40px;
  height: 40px;
  padding: 20px;
}
